.qc-circuit{
    margin: auto;
}

mjx-container {
    overflow-x: auto;
    width: 100%;
}

/* Apply this to elements that have an ID and are jump targets */
[id] {
    scroll-margin-top: 100px; /* Adjust as needed */
}